Project 4/pubSub.json
[
    {
        "id": "0f9ec08d677027b9",
        "type": "tab",
        "label": "subscribe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3deb7e53ce1871e5",
        "type": "tab",
        "label": "publish",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c975ec63bfb2746",
        "type": "ui_group",
        "name": "Acceleration",
        "tab": "",
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7154a846822c6421",
        "type": "ui_tab",
        "name": "graph1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f62c9e96462c7ab1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "77d861f0221fba9a",
        "type": "ui_group",
        "name": "Graphe 1",
        "tab": "7154a846822c6421",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd2c8b1fc856f479",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5adff3f2dfedb786",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d62efb4791783cf",
        "type": "ui_group",
        "name": "Acceleration",
        "tab": "7154a846822c6421",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65bc539a22b2d99f",
        "type": "mqtt in",
        "z": "0f9ec08d677027b9",
        "name": "",
        "topic": "sense/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "dd2c8b1fc856f479",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "48bb248199a13b83",
                "9ac42d8f16ce97d4"
            ]
        ]
    },
    {
        "id": "df09b4ccb3a5729f",
        "type": "mqtt in",
        "z": "0f9ec08d677027b9",
        "name": "",
        "topic": "sense/humid",
        "qos": "2",
        "datatype": "auto",
        "broker": "dd2c8b1fc856f479",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "48bb248199a13b83",
                "17d791d43782fa51"
            ]
        ]
    },
    {
        "id": "48bb248199a13b83",
        "type": "debug",
        "z": "0f9ec08d677027b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "727b3d0c041def69",
        "type": "mqtt in",
        "z": "0f9ec08d677027b9",
        "name": "",
        "topic": "sense/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "dd2c8b1fc856f479",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "48bb248199a13b83",
                "a5c6c259c4818e04"
            ]
        ]
    },
    {
        "id": "988086d337f05025",
        "type": "mqtt in",
        "z": "0f9ec08d677027b9",
        "name": "",
        "topic": "sense/accel",
        "qos": "2",
        "datatype": "auto",
        "broker": "dd2c8b1fc856f479",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "48bb248199a13b83",
                "c7c753220b94807d"
            ]
        ]
    },
    {
        "id": "17d791d43782fa51",
        "type": "ui_gauge",
        "z": "0f9ec08d677027b9",
        "name": "",
        "group": "77d861f0221fba9a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humid",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5c6c259c4818e04",
        "type": "ui_gauge",
        "z": "0f9ec08d677027b9",
        "name": "",
        "group": "77d861f0221fba9a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#433acb"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "9ac42d8f16ce97d4",
        "type": "ui_gauge",
        "z": "0f9ec08d677027b9",
        "name": "",
        "group": "77d861f0221fba9a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "c7c753220b94807d",
        "type": "ui_text",
        "z": "0f9ec08d677027b9",
        "group": "2d62efb4791783cf",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Acceleration",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "196ef1e91dcc37bd",
        "type": "mqtt out",
        "z": "3deb7e53ce1871e5",
        "name": "",
        "topic": "textbox",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dd2c8b1fc856f479",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb0c3dba4a6c8377",
        "type": "debug",
        "z": "3deb7e53ce1871e5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "4ad98cfacec8b51d",
        "type": "inject",
        "z": "3deb7e53ce1871e5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Textbox",
        "payload": "OOOXXOOOOOXOOXOOOOOOOXOOOOOOXOOOOOOXOOOOOOOXOOOOOOOXOOOOOOOXOOOO",
        "payloadType": "str",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "196ef1e91dcc37bd",
                "fb0c3dba4a6c8377"
            ]
        ]
    }
]